@import '../../assets/styles/abstracts/vars';
@import '../../assets/styles/abstracts/mixin';


.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.videowrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  left: 0;
  height: 100vh;
}

.opac {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba($color-white, .5);
}

.container {
  width: 100%;
  height: 100%;
}

.wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.title {
  // transform: translate(10%, -500%);
  // transform: translate(1.5rem, 750%);
  font-size: $fs-big;
  top: 65vh;
  left: 15vw;

  @include bp(tablet) {
    font-size: $fs-big + $fs-xs;
  }

  @include bp(desktop) {
    // transform: translate(1.5rem, 500%);
    font-size: $fs-big + $fs-m;
  }

  @include bp(lg-screen) {
    font-size: $fs-huge;
    // transform: translate(1.5rem, 250%);
  }
}

.mouseblock {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}