@import '../../assets/styles/abstracts/vars';
@import '../../assets/styles/abstracts/mixin';

.bar1,
.bar2,
.bar3 {
  width: 4rem;
  height: .3rem;
  background-color: $color-black;
  margin: .6rem 0;
  transition: .2s;
}

.change {
  .bar1 { transform: rotate(-45deg) translate(-.5rem, .4rem); }
  .bar2 { opacity: 0; transform: translateX(-5rem);}
  .bar3 { transform: rotate(45deg) translate(-.8rem, -.8rem); }
}

.burger {
  position: fixed;
  z-index: 20;
  top: 1.5rem;
  right: 1.5rem;
}

.opend {
  overflow: hidden;
}

.nav {
  position: fixed;
  height: 100vh;
  z-index: 11;
  opacity: 0;
  width: 0;
  transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55)
}

.ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.navMenuOpen {
  opacity: 1;
  width: 100%;
}

.navOpen {
  transform: scale(600);
}

.backMenu {
  height: .3rem;
  width: 1.5rem;
  // border-radius: 50%;
  position: fixed;
  top: 3rem;
  right: 1.5rem;
  background-color: $color-white;
  z-index: 10;
  transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
}