
// COLORS
$bg-color: #4242e6;
$glitch-bg-color: $bg-color;

$color-white: #fff;

$color-black: #000;


// BREAKPOINTS
$bp-tablet: 48em; // 768px;
$bp-desktop: 64em; // 1024px;
$bp-screen: 100em; // 1600px;


// PADDING
$pd-mini: .5rem;
$pd-xs: 1rem;
$pd-s: 1.5rem;
$pd-m: 2rem;
$pd-l: 2.5rem;
$pd-xl: 3rem;
$pd-xxl: 4rem;
$pd-big: 5rem;
$pd-huge: 10rem;


// MARGIN
$mg-mini: .5rem;
$mg-xs: 1rem;
$mg-s: 1.5rem;
$mg-m: 2rem;
$mg-l: 2.5rem;
$mg-xl: 3rem;
$mg-xxl: 4rem;
$mg-big: 5rem;
$mg-huge: 10rem;


// FONT SIZE
$fs-mini: .5rem;
$fs-xs: 1rem;
$fs-s: 1.5rem;
$fs-m: 2rem;
$fs-l: 2.5rem;
$fs-xl: 3rem;
$fs-xxl: 4rem;
$fs-big: 5rem;
$fs-huge: 10rem;